WpfApplication1/Web References/localhost/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="username" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="RegisterResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="LogInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="getProductsResult" type="tns:ArrayOfProducten" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfProducten">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="producten" nillable="true" type="tns:producten" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producten">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="naam" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="prijs" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="aantal" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="usersproductens" type="tns:ArrayOfUsersproducten" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfUsersproducten">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usersproducten" nillable="true" type="tns:usersproducten" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usersproducten">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="userid" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="productid" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="aantal" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="producten" type="tns:producten" />
      <xs:element minOccurs="0" maxOccurs="1" name="user" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="username" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="saldo" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="usersproductens" type="tns:ArrayOfUsersproducten" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuyProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="productId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="volume" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="BuyProductResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchases">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetPurchasesResult" type="tns:ArrayOfUserProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfUserProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserProductDTO" nillable="true" type="tns:UserProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserProductDTO">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="userid" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="productid" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="aantal" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="productNaam" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSaldo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaldoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="GetSaldoResult" nillable="true" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>